version: "3.9"

services:
  streamlit:
    build:
      context: .
      dockerfile: Dockerfile
    image: streamlit
    container_name: cybershield
    command: bash -c "streamlit run app.py server.port=8501 --server.address=0.0.0.0"
    volumes:
      - ..:/usr/src
    ports:
      - "8501:8501"
